@media (max-width: 767px) {
  .row > [class*='col-'] {
    margin-right: 0px;
    padding: 0px 10px; }

  h1 {
    font-size: 25px;
    margin-bottom: 15px;
    line-height: 27px;
    margin-top: 0px; }

  h2 {
    font-family: "gotham-bold", sans-serif;
    letter-spacing: -1.6px;
    font-size: 40px; }

  h3 {
    letter-spacing: -1.3px;
    font-size: 24px;
    font-family: "gotham-medium";
    color: #222c3e;
    margin: 0;
    padding: 0; }

  h4 {
    color: #3e6786;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-family: "gotham-regular", sans-serif; }

  p {
    font-family: "gotham-regular", sans-serif;
    font-size: 13px;
    line-height: 21px;
    color: #222c3e; }

  .slide-btn {
    padding: 3px 11px;
    border: 1px solid rgba(255, 255, 255, 0.5); }
    .slide-btn .hero-btn-text {
      font-family: "gotham-bold";
      margin-left: 0px;
      letter-spacing: 1px;
      font-size: 12px; }

  .hero-slides {
    margin: 0px 0px auto auto; }

  .solutions-section-heading {
    font-family: "gotham", sans-serif;
    text-align: center; }
    .solutions-section-heading:after {
      content: '';
      width: 60px;
      height: 2px;
      background: #F37321;
      opacity: 1;
      margin: 8px auto 0px auto;
      display: block; }

  .solutions-section-heading-left {
    font-family: "gotham", sans-serif;
    text-align: center;
    margin: 20px 0px 10px 0px; }
    .solutions-section-heading-left:after {
      content: '';
      width: 60px;
      height: 3px;
      background: #F37321;
      opacity: 1;
      margin: 18px auto 10px auto;
      display: block; }

  .solutions-section-subheading {
    line-height: 21px;
    text-align: center;
    margin: 0px 0px 20px 0px;
    color: #829ca2;
    margin-top: 0px; }

  .blockquote {
    text-align: center;
    line-height: 34px;
    letter-spacing: -0.3px;
    color: white;
    font-family: "gotham-regular";
    text-shadow: 0px 0px 11px rgba(0, 0, 0, 0.2); }

  #index-page-carousel {
    height: 570px; }
    #index-page-carousel .carousel-inner {
      z-index: 2;
      position: relative;
      background: none; }
    #index-page-carousel .carousel-inner-container {
      height: 600px; }
    #index-page-carousel .item {
      height: 575px; }

  .hero-slide-text p {
    width: auto;
    font-size: 14px; }

  .dropdown:hover .dropdown-menu {
    display: none;
    margin-top: 0; }

  .dropdown.open:hover .dropdown-menu {
    display: block;
    margin-top: 0; }

  .carousel-indicators {
    position: absolute;
    bottom: 5px;
    left: 50%; }

  .carousel-indicators > span {
    top: 4px;
    float: right;
    margin-left: 6px; }

  header .navbar-default {
    margin-bottom: 0px; }
    header .navbar-default .navbar-nav {
      background-color: #e7e7e7;
      margin: 0px -15px;
      max-height: 90vh;
      overflow-y: auto;
      height: auto; }
      header .navbar-default .navbar-nav > li > a {
        color: #777; }
        header .navbar-default .navbar-nav > li > a svg {
          fill: #777; }
    header .navbar-default .navbar-dark > li > a {
      color: #758191; }
    header .navbar-default .navbar-header .navbar-toggle {
      border: none;
      margin-top: 0px;
      margin-right: 13px; }
      header .navbar-default .navbar-header .navbar-toggle .icon-bar-mod {
        background-color: rgba(255, 255, 255, 0.8); }
      header .navbar-default .navbar-header .navbar-toggle:hover {
        background-color: none; }
      header .navbar-default .navbar-header .navbar-toggle:focus {
        background-color: none; }
    header .navbar-default .navbar-header .navbar-brand {
      margin: 0px 15px; }
  header.header-sticky .navbar-default .navbar-header .icon-bar-mod {
    background-color: #888; }

  footer .footer-logo:last-child {
    float: left; }
  footer .footer-logo:nth-last-child(2) {
    float: left; }
  footer .bd-footer-logo {
    height: 400px;
    position: absolute;
    bottom: -150px;
    left: -93px;
    opacity: 0.6;
    display: none; }
  footer .footer-groups {
    margin: 20px 0px 30px 0px; }
  footer .footer-mob-mod {
    margin-left: 0px; }
  footer .social-icon-container > div {
    margin-top: 15px;
    float: none; }
  footer .footer-width-adjust-overview {
    width: 50%; }
  footer .footer-width-adjust-range {
    width: 50%; }
  footer .footer-width-adjust-core {
    width: 50%; }
  footer .footer-width-adjust-joinus {
    width: 50%; }
  footer .text-align-right {
    text-align: left; }

  #index-page-carousel {
    /*#portal-gradient {
        img {
            position: relative;
            top: initial;
            transform: none;
            // height: 100%;
        }
    }*/ }
    #index-page-carousel .item {
      height: auto; }
    #index-page-carousel .carousel-inner-container {
      height: 570px; }
    #index-page-carousel .hexa-container .hexa-content {
      height: 570px;
      padding-top: 10px; }
      #index-page-carousel .hexa-container .hexa-content > a {
        position: relative;
        top: initial;
        transform: none;
        margin: 0px auto;
        margin-top: 0px;
        width: auto; }
    #index-page-carousel .hexa-container .hero-slide-text p {
      width: 100%;
      text-align: center;
      font-size: 14px;
      line-height: 18px;
      margin: 0px 0px 20px 0px; }
    #index-page-carousel .hexa-container img {
      position: relative;
      top: initial;
      width: auto;
      max-height: 280px; }
    #index-page-carousel #benefits-gradient.hexa-container h2 {
      font-size: 25px;
      margin-bottom: 15px;
      line-height: 33px;
      margin-top: 0px; }
    #index-page-carousel #benefits-gradient.hexa-container .hero-slide-text {
      width: 100%;
      text-align: center;
      position: relative;
      top: initial;
      transform: none; }
    #index-page-carousel #benefits-gradient.hexa-container .hexa-content > a {
      top: inherit;
      width: initial; }
    #index-page-carousel #payments-gradient .hero-slide-text, #index-page-carousel #pref-payments-gradient .hero-slide-text, #index-page-carousel #bills-gradient
    .hero-slide-text, #index-page-carousel #portal-gradient .hero-slide-text {
      position: relative;
      top: initial;
      width: 100%;
      text-align: center;
      transform: none; }
    #index-page-carousel #payments-gradient h2, #index-page-carousel #pref-payments-gradient h2, #index-page-carousel #bills-gradient
    h2, #index-page-carousel #portal-gradient h2 {
      font-size: 25px;
      margin-bottom: 15px;
      line-height: 33px;
      margin-top: 0px; }

  #payment-sol-page-carousel .item, #payment-sol-page-carousel .carousel-inner {
    height: 670px; }
  #payment-sol-page-carousel #payment-sol-slide-1 .solution-images {
    height: 75%;
    width: 70%;
    margin: 0px auto;
    position: relative;
    margin-top: 30px; }
  #payment-sol-page-carousel #payment-sol-slide-1 .slide-text {
    position: relative;
    top: 15px;
    width: 100%;
    text-align: center;
    right: initial; }

  #benifits-page-carousel #benefits-slide-1 .slide-text, #benifits-page-carousel #benefits-slide-2 .slide-text {
    width: 100%;
    white-space: initial;
    transform: none;
    bottom: 20%;
    top: inherit;
    text-align: center; }
    #benifits-page-carousel #benefits-slide-1 .slide-text p, #benifits-page-carousel #benefits-slide-2 .slide-text p {
      text-align: center;
      max-width: 100%; }
  #benifits-page-carousel #benefits-slide-1 .slide-image, #benifits-page-carousel #benefits-slide-2 .slide-image {
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; }

  #technology-page-carousel #technology-slide-1 > div {
    height: 500px; }
  #technology-page-carousel #technology-slide-1 .slide-text {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    transform: none; }
    #technology-page-carousel #technology-slide-1 .slide-text p {
      text-align: center;
      font-size: 14px;
      line-height: 18px;
      width: 100%; }
  #technology-page-carousel #technology-slide-1 .technology-head-slide {
    right: 50%;
    width: 100%;
    transform: translateX(50%); }

  #partner-page-carousel #partner-slide-1 img {
    position: relative;
    margin: 0px auto;
    top: 0px;
    margin-top: 70px;
    width: auto;
    height: 55%; }
  #partner-page-carousel #partner-slide-1 .slide-text {
    width: 100%;
    position: relative;
    top: 0%;
    margin: 0px auto;
    text-align: center;
    padding-top: 40px; }
    #partner-page-carousel #partner-slide-1 .slide-text p {
      line-height: 25px; }

  .page-body .payment-sol-content h3, .page-body .payment-sol-content p {
    text-align: center; }
  .page-body .payment-sol-content .btn {
    margin: 0px auto 30px auto; }
  .page-body .b2b-content h3 {
    white-space: initial;
    text-align: center; }
  .page-body .about-content.subsidary img {
    margin: 20px 0px; }
  .page-body.story-timeline .timeline-left {
    border: none; }
  .page-body .payments-sol-page-content .fact-border {
    border-right: 0px; }
  .page-body .about-page-content .universal-bill a {
    margin-top: 10px;
    display: inline-block; }
  .page-body .light-bg-block p, .page-body .dark-bg-block p {
    width: 88%;
    line-height: 20px; }
  .page-body .latest-bg-block p {
    width: 100%; }

  .features-box .media-left {
    padding: 0px; }

  .story-logo-pos {
    position: absolute;
    left: 50%;
    top: 48%;
    z-index: 97;
    transform: translate(-50%, 50%);
    right: auto; }

  .dark-bg-block p {
    font-size: 15px;
    text-align: center; }

  .light-bg-block p {
    font-size: 15px;
    text-align: center; }

  .latest-bg-block p {
    width: auto; }

  .app-download {
    margin: 15px auto 0px; }
    .app-download a {
      margin: 0px auto; }

  .app-download-button {
    margin-right: 0px; }

  /* Payment solutions content */
  .payment-sol-corousel .payment-sol-logo, #simpel-page-carousel .payment-sol-logo {
    width: auto;
    margin: 0px auto;
    height: 70%;
    padding-bottom: 0;
    padding: 70px 0px 0px; }
  .payment-sol-corousel .payment-sol-slide-text, #simpel-page-carousel .payment-sol-slide-text {
    position: relative;
    top: initial;
    width: 100%;
    text-align: center;
    padding: 0px; }
    .payment-sol-corousel .payment-sol-slide-text > div, #simpel-page-carousel .payment-sol-slide-text > div {
      margin-bottom: 0px; }
      .payment-sol-corousel .payment-sol-slide-text > div h3, #simpel-page-carousel .payment-sol-slide-text > div h3 {
        display: block; }
    .payment-sol-corousel .payment-sol-slide-text p:last-child, #simpel-page-carousel .payment-sol-slide-text p:last-child {
      margin: 0px auto;
      float: none; }
  .payment-sol-corousel .sign-up-small-button, #simpel-page-carousel .sign-up-small-button {
    margin: 15px auto 0px; }

  .payment-sol-corousel .payment-sol-slide-text {
    margin: 60px 0px 0px 0px; }

  .solution-name {
    font-size: 25px;
    letter-spacing: -1.6px;
    vertical-align: bottom;
    margin-top: 25px; }

  .service-tagline {
    font-family: "gotham";
    color: #222c3e;
    letter-spacing: -0.6px;
    font-size: 21px; }

  .contact-location, .contact-location p {
    text-align: center; }

  .benefits-content {
    text-align: center; }
    .benefits-content p {
      text-align: center; }

  /*Merchant dropdown style for all pages.*/
  .merchant-dropdown {
    margin: 0px auto; }
    .merchant-dropdown > button {
      background: #f37321;
      color: #fff;
      border-radius: 16px;
      padding: 5px 40px;
      border: 0px;
      font-weight: 400;
      font-family: "gotham-medium"; }
    .merchant-dropdown > ul > li {
      padding: 10px 5px; }
      .merchant-dropdown > ul > li a {
        text-align: center;
        font-weight: 400;
        font-family: "gotham-medium"; }
      .merchant-dropdown > ul > li.active {
        background: #f37321;
        color: #fff; }
        .merchant-dropdown > ul > li.active > a {
          background: #f37321; }

  /*Payment sol page*/
  .all-payment-solutions .margin-adjustment {
    margin-top: 40px; } }
.fact-number {
  margin-top: 20px; }

/*# sourceMappingURL=styles_480_767.css.map */
